 <section class="jumbotron text-center">
    <div class="container">
    	<div class="row">
    		<div class="col-md-3">
    			<img src="https://via.placeholder.com/100">
    		</div>
    		<div class="col-md-9">
    			<div class="row">
    				<div class="col-md-6">
	    				<h1 class="jumbotron-heading"><%= @user.username %></h1>
	    			</div> 
	    			<div class="col-md-6">
	    				<%= link_to 'Edit profile', edit_user_registration_path, class: "btn btn-secondary my-2" if @user == current_user %>
    				</div>

    			</div>
			    <div class="row">
			    	<div class="col-md-4">
			    		<p><%= @user.posts.count %> publications</p>
			    	</div>
			    	<div class="col-md-4">
			    		<p><%= @user.followers.count %> followers</p>
			    	</div>
			    	<div class="col-md-4">
			    		<p><%= @user.following.count %> following</p>
			    	</div>
			    </div>
			    <div class="row">
			    	<div class="col-md-12">
			    		<% unless @user == current_user %>
				    		<% if !current_user.following?(@user) %>
					    		<%= form_for(current_user.active_relationships.build, remote: true) do |f|  %>
			  						<div><%= hidden_field_tag :followed_id, @user.id %></div>
			  						<%= f.submit "Follow", class: "btn btn-primary" %>
								<% end %>
								<% else %>
								<%= form_for(current_user.active_relationships.find_by(followed_id: @user.id), html: { method: :delete },remote: true) do |f| %>
								  <%= f.submit "Unfollow", class: "btn" %>
								<% end %>
							<% end %>
						<% end %>
			    		<h3>My name</h3>
			    	</div>
			    </div> 
		  	</div>
  		</div>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">
    	<div class="row">
	    	<% @user.posts.each do |post| %>
		        <div class="col-md-4">
		          <div class="card mb-4 shadow-sm">
		            <%= image_tag post.image.to_s, width: '100%' %>
		            <div class="card-body">
		              <p class="card-text"><%= post.description if post.description %></p>
		              <div class="d-flex justify-content-between align-items-center">
		                <div class="btn-group">
		                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
		                  <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
		                </div>
		                <small class="text-muted">9 mins</small>
		              </div>
		            </div>
		          </div>
		        </div>
	        <% end %>
    	</div>
      </div>
    </div>