 <section class="jumbotron text-center">
    <div class="container">
    	<div class="row">
    		<div class="col-md-3">
    			<%= gravatar_for(@user) %>
    		</div>
    		<div class="col-md-9">
    			<div class="row">
    				<div class="col-md-12">
    					<h1 class="jumbotron-heading"><%= @user.username %></h1>
    				</div>
	    			
    			</div>
			    <div class="row my-3">
			    	<div class="col-md-4">
			    		<p><%= pluralize(@user.posts.count, 'publication') %></p>
			    	</div>
			    	<div class="col-md-4">
			    		<a href="<%= following_user_path(@user) %>">
			    			<strong>
				    			<p><%= @user.following.count %> following</p>
				    		</strong>
			    		</a>
			    	</div>
			    	<div class="col-md-4">
			    		  <a href="<%= followers_user_path(@user) %>">
						    <strong id="followers">
						      <%= pluralize(@user.followers.count, 'follower') %>
						    </strong>
						  </a>
			    	</div>
			    </div>
			    <div class="row">
			    	<div class="col-md-12">
			    		<%= render 'follow_form', user: @user %>
			    	</div>
			    </div>
          <div class="row">
            <div class="col-md-12">
              <%= profile_description_button %>
            </div>
          </div>
		  	</div>
  		</div>
    </div>
  </section>

  
  <div class="container">
  	<% if @user.profile_description %>
    	<div class="row">
      	<div class="col-md-12">
      		<h3><%= @user.profile_description.name%></h3>
      	</div>
      </div>
      <div class="row">
      	<div class="col-md-12">
      		<p><%= @user.profile_description.body %></p>
      	</div>
      </div>
    </div>
  <% end %>

  <div class="album py-5 bg-light">
    <div class="container">
    	<div class="row">
	    	<%= render partial: "post", collection: @posts, :as => :post %>
    	</div>
      </div>
    </div>