<%= form_with(model: profile_description, local: true) do |form| %>
  <% if profile_description.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile_description.errors.count, "error") %> prohibited this profile_description from being saved:</h2>

      <ul>
      <% profile_description.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_area :body %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
