<%= form_with(model: profile_description, local: true) do |form| %>
  <% if profile_description.errors.any? %>
      <% profile_description.errors.full_messages.each do |message| %>
        <%= alert_generator message %>
      <% end %>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :body, "About You" %>
    <%= form.text_area :body, rows: 10, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.submit "Submit", class: "btn btn-outline-primary btn-block" %>
  </div>
<% end %>
