<div class="container">
	<div class="row border py-3">
			<div class=" col-md-6">
			  <%= image_tag @post.image.to_s, width:"100%" %>
				<% pre_like = @post.likes.find { |like| like.user_id == current_user.id} %>

			</div>
			<div class="col-md-6">
			  	<h5 ><%= @post.user.username %></h5>
			    <p ><%= @post.description %></p>
				<%= render 'comments/comment_form', post: @post %>
				<div class="comments my-3 border">
			    	<%= render @comments %>
			    </div>
			    <div class="row justify-content-end mr-2">
			    	<div class="mr-1">
				    	<%= edit_button %>
					</div>
					<div class="ml-1">
					    <%= delete_button %>
					</div>
				</div>
			</div>
	</div>
</div>