<div class="container">
	<div class="row border py-3">
			<div class="col-md-6">
			    <%= image_tag @post.image.to_s, width:"100%" %>
			    <div class="row">
			    	<div class="col-md-6">
						<%= render 'like_form', post: @post %>
					</div>
					<div class="col-md-6 text-right">
						<p class="mt-3 mr-2">Liked by <strong id="likes<%= @post.id %>">
					      <%= pluralize(@post.likes.count, 'user') %>
					    </strong></p>
					</div>
				</div>
			</div>
			<div class="col-md-6">
			  	<h5 ><%= gravatar_for @post.user, size: 35 %><%= link_to @post.user.username, @post.user, class: 'text-dark ml-2' %></h5>
			    <p ><%= @post.description %></p>
				<%= render 'comments/comment_form', post: @post %>
				<div class="comments my-3 border">
			    	<%= render @comments %>
			    </div>
			    <div class="row justify-content-end mr-2">
			    	<div class="mr-1">
				    	<%= edit_button %>
					</div>
					<div class="ml-1">
					    <%= delete_button %>
					</div>
				</div>
			</div>
	</div>
</div>