<!DOCTYPE html>
<html>
  <head>
    <title>Insta</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-light fixed-top border-bottom">
      <div class="mt-1">
        <%= logo_helper %>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav ml-auto mr-2">
          <li class="nav-item">
            <%= link_to fa_icon("clone"), posts_path, class: "nav-link" %>
          </li>
          <li>
            <%= link_to fa_icon("plus"), new_post_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to fa_icon("user"), user_show_url(current_user.id), class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to fa_icon("user-plus"), users_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to fa_icon("sign-out"), destroy_user_session_path, class: "nav-link", method: :delete %>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        </form>
      </div>
    </nav>

    <main role="main" class="container">
    
      <%= yield %>

    </main>
    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
        <p><div>Logo icons made by <a href="https://www.freepik.com/?__hstc=57440181.f4a85e8859e5549e07dd3599cdb4b3ea.1557328279274.1557328279274.1557328279274.1&__hssc=57440181.1.1557328279277&__hsfp=3141449342" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/"          title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/"          title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div></p>
      </div>
    </footer>

    
  </body>
</html>
