<!DOCTYPE html>
<html>
  <head>
    <title>Insta</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'devise', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="text-center">
    <div class="container">
      <div class="row">
      <div class="col-md-6 my-auto">
        

        
            <%= image_tag 'smartphone', width: 400 %>
        
      </div>
      <div class="col-md-6">
        <div>
            <%= image_tag 'logo.svg', class: "mb-1", width: 40 %>
            <h2 class="logo">Railsgram</h2>
        </div>
        <%= yield %>
      </div>
    </div>
    </div>
    
  </body>
</html>
